@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row">
    <div class="col-10 offset-md-2">
        <h4 class="text-primary">@ViewData["Title"]</h4>
        @if (Model.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @Model.StatusMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <form id="change-password-form" method="post">
                    <div class="mb-3">
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        @if (Model.ErrorMessage != null)
                        {
                            <div class="text-danger">@Model.ErrorMessage</div>
                        }
                    </div>
                    <button type="submit" class="btn btn-danger">Update password</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/dist/vendor.js" asp-add-nonce="true" asp-append-version="true"></script>
    <script src="~/dist/medical-conditions.js" asp-add-nonce="true" asp-append-version="true"></script>
}
